body {
	margin: 100px 100px 100px 100px;
	font-size: 14px;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

h1.title {
  font-size: 25px;
  text-align: center;
}

h4.author {
	text-align: center;
}

h4.date {
	text-align: center;
}

th {
	background-color: #d8d8d8;
}

table {
	margin: auto;
	font-size: 13px;
}	

pre {
	border: solid 1px #e1e1e1;
	background: #c0c0c0;
}

code.r {
	font-size: 12px;
	color: #555555;
	
	display: inline;
}
